<!DOCTYPE html>
<html lang="en">
<head>
  <title>Checking out {{ building.name }} | SmartWasher</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?{{ avoidCache }}">
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
  <div id="topBar">
    <img id="topBarLogo" width="50px" height="50px" src="/static/img/logo.png">
    SmartWasher
  </div>

  <div id="content">
    <h1>
      <a class="backButton" href="/">
        <img width="50px" height="50px" src="/static/img/back.png">
      </a> Checking out {{ building.name }}
    </h1>

    {% for floorNumber, floor in building.floors.floors.items() %}
      <p class="floorNumber">
        {% if floorNumber == 1 %}
          1st
        {% elif floorNumber == 2 %}
          2nd
        {% elif floorNumber == 3 %}
          3rd
        {% else %}
          {{ floorNumber }}th
        {% endif %}
        floor rooms
      </p>
      {% for room in floor %}
        <p class="roomName">{{ room.name }}</p>
        {% if room.isFree %}
          <a href="/machine/{{ building.name }}/{{ floorNumber }}/{{ room.name }}">
            <img class="washingMachine" width="38px" height="50px" src="/static/img/washing_machine_free.png">
          </a>
        {% elif room.isDisabled %}
          <img class="washingMachine" width="38px" height="50px" src="/static/img/washing_machine_disabled.png">
        {% else %}
          <a href="/machine/{{ building.name }}/{{ floorNumber }}/{{ room.name }}">
            <img class="washingMachine" width="38px" height="50px" src="/static/img/washing_machine_active.png">
          </a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

</body>
</html>
